In [2]:
import yfinance as yf
x = yf.download('VOO', start='2010-09-09')['Close']
type(x)

[*********************100%***********************]  1 of 1 completed

pandas.core.frame.DataFrame

In [6]:
columns=['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
x = yf.download('AAPL', start='2010-09-09')
x

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2010-09-09    7.916723    8.020546    7.912210    7.976008  438575200
2010-09-10    7.926954    7.959756    7.866465    7.920333  387542400
2010-09-13    8.036197    8.073513    7.997678    7.999482  388780000
2010-09-14    8.066892    8.100295    7.990454    8.011218  408150400
2010-09-15    8.131893    8.136709    8.060270    8.070202  429368800
...                ...         ...         ...         ...        ...
2025-02-06  232.963867  233.543232  230.176923  231.035979   29925300
2025-02-07  227.380005  233.743004  227.010401  232.344548   39707200
2025-02-10  227.649994  230.589996  227.199997  229.570007   33115600
2025-02-11  232.619995  235.229996  228.130005  228.199997   53718400
2025-02-12  236.869995  236.960007  230.679993  231.274994   44964595

[3630 rows x 5 columns]

In [8]:
x = yf.download('VOO', start='2010-09-09', auto_adjust=False,
                                 actions=True)

[*********************100%***********************]  1 of 1 completed

In [9]:
x

Price,Adj Close,Capital Gains,Close,Dividends,High,Low,Open,Stock Splits,Volume
Ticker,VOO,VOO,VOO,VOO,VOO,VOO,VOO,VOO,VOO
Date,,,,,,,,,
2010-09-09,77.721321,0.0,101.320000,0.0,102.500000,101.139999,102.500000,0.0,26500
2010-09-10,78.074211,0.0,101.779999,0.0,101.860001,101.300003,101.680000,0.0,8600
2010-09-13,79.056061,0.0,103.059998,0.0,103.139999,102.500000,102.959999,0.0,33750
2010-09-14,79.040741,0.0,103.040001,0.0,103.480003,102.379997,102.839996,0.0,59400
2010-09-15,79.240189,0.0,103.300003,0.0,103.379997,102.400002,102.620003,0.0,9250
...,...,...,...,...,...,...,...,...,...
2025-02-06,557.619995,0.0,557.619995,0.0,557.650024,554.190002,557.289978,0.0,3606300
2025-02-07,552.200012,0.0,552.200012,0.0,559.200012,551.789978,558.099976,0.0,10161600
2025-02-10,556.150024,0.0,556.150024,0.0,556.780029,554.239990,555.440002,0.0,3517600
2025-02-11,556.650024,0.0,556.650024,0.0,557.119995,553.989990,554.099976,0.0,2752900
2025-02-12,554.809998,0.0,554.809998,0.0,555.914978,550.395020,551.000000,0.0,3534464

In [19]:
a = x['Adj Close'].values
print(a.shape)

(3630, 1)

In [22]:
[c for (c, _) in x.columns]

['Adj Close',
 'Capital Gains',
 'Close',
 'Dividends',
 'High',
 'Low',
 'Open',
 'Stock Splits',
 'Volume']

In [24]:
cols = [
 'Capital Gains',
 'Close',
 'Dividends',
 'High',
 'Low',
 'Open',
 'Stock Splits',
 'Volume']
v = x[cols].values
v.shape

(3630, 8)

In [25]:
x['Adj Close'].values.shape

(3630, 1)

In [26]:
x = yf.download('VOO', start='2010-09-09')

[*********************100%***********************]  1 of 1 completed

In [27]:
[c for (c, _) in x.columns]

['Close', 'High', 'Low', 'Open', 'Volume']

In [28]:
yf.download('VOO', start='2010-09-09')

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker             VOO         VOO         VOO         VOO       VOO
Date
2010-09-09   77.721321   78.626485   77.583245   78.626485     26500
2010-09-10   78.074226   78.135595   77.706027   77.997519      8600
2010-09-13   79.056046   79.117414   78.626478   78.979338     33750
2010-09-14   79.040718   79.378239   78.534437   78.887297     59400
2010-09-15   79.240166   79.301528   78.549786   78.718546      9250
...                ...         ...         ...         ...       ...
2025-02-06  557.619995  557.650024  554.190002  557.289978   3606300
2025-02-07  552.200012  559.200012  551.789978  558.099976  10161600
2025-02-10  556.150024  556.780029  554.239990  555.440002   3517600
2025-02-11  556.650024  557.119995  553.989990  554.099976   2752900
2025-02-12  554.809998  555.914978  550.395020  551.000000   3534464

[3630 rows x 5 columns]

In [29]:
import torch
x = torch.tensor([1.0])

In [31]:
x[0].unsqueeze(-1)

tensor([1.])

In [32]:
x[0]

tensor(1.)

In [33]:
x = torch.tensor([1.0, 2.0])

In [34]:
x.unsqueeze(-1)

tensor([[1.],
        [2.]])

In [ ]:
x.unsqueeze(-1).